In [1]:
import numpy as np
import pandas as pd

In [5]:
Labels = ['a','b','c','d']
myList = [10, 20,30,40]
aar = np.array([10,20,30,40])
dict = {'a':10, 'b':20, 'c':30, 'd':40}

In [6]:
myList

[10, 20, 30, 40]

In [4]:
    Labels

['a', 'b', 'c', 'd']

In [9]:
pd.Series(data = myList,index = Labels)

a    10
b    20
c    30
d    40
dtype: int64

In [11]:
pd.Series(aar, Labels )

a    10
b    20
c    30
d    40
dtype: int64

In [12]:
pd.Series(dict)

a    10
b    20
c    30
d    40
dtype: int64

In [13]:
pd.Series()

Series([], dtype: float64)

In [14]:
ser1 = pd.Series([1,2,3,4], index = ['USA', 'Germany', 'Italy','Japan'])

In [15]:
ser2 = pd.Series([1,2,3,4], index = ['USA', 'India', 'Kenya','Japan'])

In [16]:
ser1

USA        1
Germany    2
Italy      3
Japan      4
dtype: int64

In [17]:
ser2

USA      1
India    2
Kenya    3
Japan    4
dtype: int64

In [18]:
ser2['India']

2

In [19]:
ser1 + ser2

Germany    NaN
India      NaN
Italy      NaN
Japan      8.0
Kenya      NaN
USA        2.0
dtype: float64